In [12]:
#import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

In [2]:
#store csv into a dataframe
df = pd.read_csv('spam.csv')

In [3]:
#preview dataframe
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
#convert categorical variables "spam/ham" to numerical values "1/0"
df['spam'] =  df['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [6]:
#preview new dataframe with the changes mentioned above
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [20]:
#split the dataframe into training & testing datasets 80/20
X_train,X_test, y_train,y_test = train_test_split(df['Message'],df['spam'],test_size = 0.2)

In [26]:
#create a pipeline model that will count the frequencies of the words in the message 
#and then pass that information as a feature to the model
model = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('clf', MultinomialNB())
])

In [27]:
#train the model using training datasets
model.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('clf', MultinomialNB())])

In [28]:
#score the model to find the accuracy
model.score(X_test,y_test)

0.9802690582959641

In [32]:
#test a sample case to see how it performs (1 = spam | 0 = not spam)
sample = [
    'WINNER WINNER CHICKEN DINNER!! you just won $500 worth of rewards, click here to claim!!',
    'Hey, our test is on friday.. did you end up studying for it?'
]

model.predict(sample)

array([1, 0])