In [1]:
#install word to number package
pip install word2number

Requirement already satisfied: word2number in /opt/conda/lib/python3.8/site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import necessary libraries
import pandas as pd
from word2number import w2n
from sklearn.linear_model import LinearRegression

In [3]:
#store dataset into a dataframe and preview dataframe
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
#check if and column contains null values
df.isnull().any()

experience                     True
test_score(out of 10)          True
interview_score(out of 10)    False
salary($)                     False
dtype: bool

In [5]:
#check datatypes of all columns
df.dtypes

experience                     object
test_score(out of 10)         float64
interview_score(out of 10)      int64
salary($)                       int64
dtype: object

In [6]:
#fill experience null values with zero
df['experience'] = df['experience'].fillna('zero')

In [ ]:
#fill test score null values with average test score values
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean().round())

In [7]:
#transform text numbers into integer numbers
df['experience'] = df['experience'].apply(w2n.word_to_num)

In [8]:
#preview new dataframe after data pre-processing
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [9]:
#check datatypes
df.dtypes

experience                      int64
test_score(out of 10)         float64
interview_score(out of 10)      int64
salary($)                       int64
dtype: object

In [10]:
#create linear regression model
model = LinearRegression()

In [11]:
#train the model
model.fit(df.drop('salary($)',axis=1),df['salary($)'])

LinearRegression()

In [12]:
#predict sample data
model.predict([[2,9,6],[12,10,10]])

/opt/conda/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671, 92002.18340611])